<section class="header-app">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  
</section>

<ion-content>
  <section class="space-header"></section>
  <section class="design-header">
      <h1>Crear nuevo proyecto</h1>
      <img src="./assets/images/bg-projects.jpg">
      <span class="gradient"></span>
      <span class="design-sphere"></span>
  </section>

  <ion-grid padding>  
    <ion-row>
      <ion-col size="12">
          <ion-input [(ngModel)]="project.name_project" required="true" type="text" class="input-white" placeholder="Nombre del proyecto:"></ion-input>
      </ion-col>

      <ion-col size="6">
        <ion-input [(ngModel)]="project.project_country" type="text" class="input-white" placeholder="País:"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-input [(ngModel)]="project.project_department" type="text" class="input-white" placeholder="Departamento:"></ion-input>
      </ion-col>

      <ion-col size="6">
        <ion-input [(ngModel)]="project.project_city" type="text" class="input-white" placeholder="Ciudad:"></ion-input>
      </ion-col>

      <ion-col size="6">
        <ion-input [(ngModel)]="project.project_municipality" type="text" class="input-white" placeholder="Municipio:"></ion-input>
      </ion-col>

      <ion-col size="12">
        <ion-input [(ngModel)]="project.project_address" type="text" class="input-white" placeholder="Dirección:"></ion-input>
      </ion-col>

      <ion-col size="12">
        <ion-input [(ngModel)]="project.project_location" type="text" class="input-white" placeholder="Ubicación:"></ion-input>
      </ion-col>

      <ion-col size="12">
        <ion-input [(ngModel)]="project.project_contact" type="text" class="input-white" placeholder="Contacto:"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-input [(ngModel)]="project.project_phone" type="tel" class="input-white" placeholder="Teléfono o celular:"></ion-input>
      </ion-col>

      <ion-col size="6">
        <ion-input [(ngModel)]="project.project_email" pattern="email" type="email" class="input-white" placeholder="Email:"></ion-input>
      </ion-col>

      <ion-input class="input-hidden" [(ngModel)]="project.project_photo" type="hidden" value="{{image}}"></ion-input>

      <ion-col size="12">
        <span *ngIf="currentPlatform">
          <input type="file" id="img-project" class="img-browser" (change)="setImageBrowser()">
        </span>
        <article class="load-image" (click)="presentActionSheet()">
            <img src="{{project.project_photo}}">
          <small>Cargar imagen del proyecto</small>
        </article>
      </ion-col>
    
      <ion-col size="4">
        <span *ngIf="this.project_edit == 'true'">
          <ion-button color="success" (click)="validateCreate(true)">Guardar cambios</ion-button>
        </span>

        <span *ngIf="this.project_edit != 'true'">
            <ion-button color="success" (click)="validateCreate(false)">Guardar</ion-button>
        </span>
      </ion-col>

      <ion-col size="4"></ion-col>

      <ion-col size="4">
        <ion-button color="danger" (click)="cancelCreationProject()">Cancelar</ion-button>
      </ion-col>
    
    </ion-row>
    </ion-grid>

</ion-content>
