/**Custom Vars**/
$theme-color:#2bc36c;

ion-menu {
    --width: 250px;

    ion-header {
        height: 160px;
        background: $theme-color;
        overflow: hidden;
        border-top: 3px solid #84e6ae;

        .image-profile {
            position: absolute;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            border: 1px solid #fff;
            left: 0;
            right: 0;
            margin: 10px auto;

            img {
                object-fit: cover;
                height: 100%;
            }
        }

        p{
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100%;
            color: #fff;
            margin: 0;
            font-weight: 100;
        }

        .config-tools {
            position: absolute;
            left: 10px;
            bottom: 10px;
            color: #fff;
            font-size: 25px;
            display: flex;
            flex-direction: column;

            ion-icon {
                margin-bottom: 5px;
                border: 1px solid rgba(255,255,255,0.2);
                padding: 2px;
                border-radius: 5px;
            }
        }        
    }
}

app-projects {

    ion-header {

        ion-toolbar {
            --ion-background-color: #2bc36c;
            height: 55px;
            color: #fff;
        }
    }
}

ion-searchbar {
    z-index: 9;
    margin-top: 40px;
}

ion-buttons {
    position: absolute;
    color: #525252;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    height: 42px;
    width: 42px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    left: 5px;
    top: 2px;
}

.design-header {
    margin-top: -100px;
    height: 165px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;

    h1 {
        position: absolute;
        bottom: 25px;
        color: #5d5d5d;
        z-index: 9;
    }

    .design-sphere {
        position: absolute;
        width: 140%;
        height: 190px;
        background: #fff;
        z-index: 0;
        display: block;
        top: 135px;
        border-radius: 50%;
    }
}

.img-browser {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
}

.load-image {
    height: 250px;
    width: 100%;
    border: 1px solid #bdbdbd;
    border-bottom: 3px solid #ababab;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: #737373;
    overflow: hidden;

    small {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        position: absolute;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 99;
    }

    img[src=""] {
        opacity: 0;
    }
}

ion-content {
    --padding-bottom: 80px;
}

ion-searchbar {
    //margin-top: 15px;
}

ion-buttons {
    //display: none !important;
}